.header {
  text-align: center;
  background: #333;
  color: #fff;

  .heading {
    padding-top: 10px;
  }

  ul {
    font-size: 20px;
    padding:0;
  }

  ul li{
    display: inline;
    padding-bottom: 30px;
  }

  ul li a {
    text-decoration: none;
    color:#fff;
  }

}
