  p.todo-items {
    background: #f6f6f6;
    color: #333;
    padding:20px;
    font-size: 16px;
    font-weight: bold;

    a{
      text-decoration: none;
      color: #333;
    }
  }

.del {
  background: #333;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  padding:5px 9px;
  cursor: pointer;
  float: right;
}

.del:hover {
  color: #ff0000;
}

.todo {
width: 100%;
}

.is-complete {
  text-decoration: line-through;
}
